{% extends "global/base.html" %}

{% block content %}
    {% comment %} {% for contact in contacts %}
        {{contact.first_name}} <br>
    {% endfor %} {% endcomment %}
    <div class="resposive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Contacts
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="teble-header">ID</th>
                    <th class="teble-header">First Name</th>
                    <th class="teble-header">Last Name</th>
                    <th class="teble-header">Phone</th>
                    <th class="teble-header">E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr class="table-row">
                        <td class="table-cel">
                            <a href="#" class="table-link">
                                {{contact.id}}
                            </a>
                        </td>
                        <td class="table-cel">
                            {{contact.first_name}}
                        </td>
                        <td class="table-cel">
                            {{contact.last_name}}
                        </td>
                        <td class="table-cel">
                            {{contact.phone}}
                        </td>
                        <td class="table-cel">
                            {{contact.email}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

